body {
  font-family: "Open Sans", sans-serif;
}

.gradient-background {
  background: linear-gradient(300deg, #151f22, #8d535c, #140502);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#hero {
  width: 100%;
  height: 60vh;
}
.about {
  padding-top: 30px;
}

.fa {
  padding: 15px;
  margin: 5px 2px;
  border-radius:50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-phone {
  background: #a4c639;
  color: white;
}

a{
    color: #149ddd;
    text-decoration: none;
}

.img-fluid {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.section-title {
  padding-bottom: 30px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-right: 50px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}
 .resume-title{
  padding-bottom: 15px;
}

.resume .resume-item {
  padding: 0 10px 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.github {
  color: grey;
}
